{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    <li>
        <a href="index.php?route=logout" class="btn-logout">Se déconnecter</a>
    </li>
    <main class="py-5 container">
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </main>
{% endblock %}