{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    <li>
        <a href="index.php?route=logout" class="">Se déconnecter</a>
    </li>
{% endblock %}