{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    {% for group in groups %}
        <a href="?route=expenses&id={{group.id}}"> {{group.name}} </a>
    {% endfor %}
{% endblock %}