<header>
    <a href="index.php?route=home" class=""><img src="assets/img/favicon-faircount.png"/></a>
    <li>
        <a href="index.php?route=logout" class="btn-logout">Se déconnecter</a>
    </li>
</header>