:root {
    --darkerGrey: #0b132b;
    --darkGrey: #1c2541;
    --yellow: #d4b52f;
    --green: #509d77;
    --pink: #d97ab5;
    --blue: #45a0ec;
    --purple: #9e87cb;
    --red: #d66f75;
    --grey: #83a1bb;
    --white: #ffffff;
}

#players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#grid_player {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    gap:40px;   
    
}

#titre_player {
    color: var(--pink);
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 30px;
}

.box_player {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}


.box_player img {
    width: 200px;
    height: 200px;
}

.box_player h3 {
    color: var(--pink);
    width: 100%;
    text-align: center;
    font-family: Ubuntu;
    text-transform: uppercase;
    font-size: 25px;
}

.box_player p {
    color: var(--yellow);
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    text-transform: uppercase;
}

.box_player a {
    color: var(--pink) !important;
    border: var(--pink) 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 12px;
    text-decoration: none;
    padding: 5px;

}