<!doctype html>
<html lang="fr" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fair-Count | L'appli du rat</title>
        <link rel="icon" type="image/png" href="assets/img/favicon-faircount.png">
    <body>
        {% block header %}
        {% endblock %}
        {% block main %}
        {% endblock %}
    </body>
</html>
