{% extends "layout.html.twig" %}

{% block title %}Bienvenue{% endblock %}

{% block main %}
    <div class="welcome-container">
        <h1>Bienvenue sur Fair count</h1>
        <p>Gérez vos comptes entre amis simplement.</p>
        
        <div style="margin-top: 40px;">
            <a href="?route=login">Se connecter</a>
            <a href="?route=register">Créer un compte</a>
        </div>
    </div>
{% endblock %}