{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block title %}Bienvenue{% endblock %}

{% block main %}
    <div>
        <h1>Bienvenue sur mon site</h1>
        <p>Merci de sélectionner une action :</p>
        <a href="?route=login"> Se connecter </a>
        <a href="?route=register"> S'inscrire </a>
    </div>
{% endblock %}  